*{
    margin: 0px;
    padding: 0 auto;
}
.mod_tag{
	background: linear-gradient(to bottom, #f2f2f2, #fcfcfc);
	margin-top: 20px;
    width: 1700px;
    height: 850px;
    /*background: linear-gradient(to bottom, #f2f2f2, #ffffff);*/    
    background-color: #F2F2F2;
    /*background: linear-gradient(to bottom, #c4c4c4, #f2f2f2);*/
    float: left;
}
.mod_tag_top{
	padding-top: 30px;
    width: 720px;
    height: 40px;
    margin-left: 8%;
    /*background-color: #00c758;*/
}
/* .neidi{
	width: 200px;
	height: 40px;
	background-color:saddlebrown;
} */
.mod_tag_top nav{
    width: 720px;
    height:40px;
    /*background-color: brown;*/
    margin-left: 8%;
}
.mod_tag_top nav a{
    text-decoration: none;
    margin-left: 50px;
    line-height: 40px;
    color: black;
}
.mod_tag_top nav a:hover{
    color: #00c758;	
}
.mod_tag_bottom{
    width: 80%;
    height:380px;
    /*background-color: brown;*/
    margin-left: 12%;
}
.music{
    width: 20%;
    height: 380px;
    /*background-color: aquamarine;*/
    float: left;
}
.picture{
    width: 240px;
    height: 380px;
    /*background-color: grey;*/
    float: left;
	overflow: hidden;
}
.picture img{
    margin-top: 30px;
    width: 240px;
    height: 240px;
	transition: all 1s;


}
.picture_down{
    width: 240px;
    height: 70px;
    /*background-color: gold;*/
    float: left;
}
.picture_down a{
    text-decoration: none;
    color: black;
}
.picture_down a:hover{
    color: #00c758;
}
.picture_down p{
    color: #c3c3c3;
}
.picture  img:hover{
	
	transform: scale(1.1);	
	
}
p{
	font-size: 15px;	
}
